@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');

.font{
    font-family: 'Raleway', sans-serif;
}
.bg-option{
    background: #324a58;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #292E49, #2e363b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #292E49, #2e363b);  
}

.pointer{
    cursor: pointer;
}


.isCheck:checked + .none{
    background-color: red;
}

.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contenedor_cards{
    height: 80vh;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

.box:hover, .box:hover + p{
    transition: all .2s ease;
    color: rgb(175, 172, 172);
}
.box:hover + p{
    font-size: 20px;
}
.box_alt{
    height: 35%;
    display:grid;
    grid-template-rows: 1fr 1fr ;
}
